%p items is a fun, sleek and beautiful image-based social network and web application platform for creating, managing, sharing and discovering inventories of user-owned items.

%p this is your personal digital inventory. get ready to upgrade