%p
	you love your stuff but organizing is a pain.
%p
	we give you items
	%u your new digital inventory for organizing 
	and 
	%u managing your cherished possessions.
	just add an item and we'll tell you everything the  
	%u internet knows about it. 
	personalize your item by adding your own information and reviews and we'll help keep track of it. with items, you'll learn how much of your things 
	%u you actually use 
	and 
	%u how much money they're worth. 
	you'll be more aware about your future purchases, so you 
	%u waste less money and maximize their value. 
%p
	items also connects you to your friends so you can 
	%u show off what you got. 
	and we know you'll looking for new stuff too, but the internet is even 
	%u messier than your closet. 
	with items, you can see what we think you'll like as well as 
	%u find out what your friends have and love. 
	one click and you'll discover something new, tailored to your individual taste.