%p
	%u#jagged items
	\: your new digital 
	%u inventory 
	for organizing and managing your cherished possessions. 

%p
	personalize your 
	%u inventory 
	by adding 
	%u#jagged items
	, and we'll tell you everything the internet knows about it. then add your own information and reviews, and we'll keep track of all of it. with 
	%u#jagged items
	, you'll learn how many of your things you actually use and how much money they're worth. you'll be more aware about your future purchases, so you waste less money and maximize their value.
%p 
	%u#jagged items 
	also connects you to your friends, so you can show off what you've got and find out what they have and love in their 
	%u inventories. 
	you don't have to go in circles trying to find the perfect thing on the internet anymore. with just one click, 
	%u#jagged items
	will help you discover something new, curated for your individual taste and style.