%h2
	%u you
	+
	%u.stuff your stuff
	%span =
	%u.items items
%br
%p
	you are not a consumer type. your stuff is not random things. 
%p
	items are more than what you own. this is your digital inventory. add and tag the items you own and love. keep track of them and review them. share them and show them off. find and save new items to add to your inventory.