@import "bootstrap";

$break-width: 768px;

html {
    height: 100%;
}
@-webkit-keyframes zoom-reset {
	to {
		background-position:9px 100%;
	}
}

@-webkit-keyframes zooming {
	to {
		background-position:9px 100%;
	}
}

body {
	color: #333333;
	font-family: 'Helvetica';	height: 100%;
	letter-spacing: 1px;
	margin: 0;
	display: block;
	overflow-y:hidden;
	height:100%;


	p {
		letter-spacing: 1px;
	}

	u {
		text-decoration: none;
		border-bottom: 2px solid blue;

		&:hover {
			background-color:yellow;
		}

		&.items {
			// text-decoration: none;
			border:none;
			// background: image-url("moving_underline.gif")repeat-x;
			// background-position: 0 100%;
			background: image-url("underline-jagged.svg") repeat-x;
			background-position: -45px 100%;
			padding-bottom: 1px;
			-webkit-animation: zoom-reset 1.0s ease-out 1;
			&:hover {
				-webkit-animation:zooming .85s linear infinite;
			}
		}

		&.stuff {
			border-bottom: 2px dashed #29E502;
			padding-bottom: 2px;
			-moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
			-webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
			-o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
			transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;

			&:hover {
				background: #29E502;
			    color: #000;
			    border-bottom: 2px dashed #000;
			}

			&:active {
				color: #fff;
			}
		}
	}


	h1 {
		a {
			text-decoration:none;
		}
	}

	h2 {
		font-weight:100;
	}

	header {
		display:block;
		margin: auto;
		text-align: center;
		position: fixed;
		background-color:white;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
		-webkit-transition-duration: 800ms;
		transition-duration: 800ms;
		-webkit-transition-property: opacity, background-color;
		transition-property: opacity, background-color;	

		.inner {
			margin: auto;
			max-width: 1008px;
			position: relative;
		}

		#main {
			display: none;

			@media (min-width: $break-width) {
			    display: block;
			}

			a.nav_links {
				color: inherit;
				display: inline-block;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 1px;
				line-height: 1;
				margin: 20px 20px 0 20px;
				text-decoration: none;

				transition-property: opacity;
				-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 800ms;
				transition-duration: 800ms;

				&:hover {
					//border-bottom: 1px dashed black;
					// text-decoration: none;
					 border:none;
					 background: image-url("moving_underline.gif")repeat-x;
					 background-position: 0 100%;
					 padding-bottom:2px;

					opacity:0.7;
				}

				&.active {
					border-bottom: 1px solid black;
					padding-bottom:2px;
					&:hover {
						background:none;
					}
				}
				&.visited {
					border-bottom: 1px solid black;
				}
			}
		}

		a#nav-toggle {
			color: #222;
		    display: inline-block;
		    font-size: 45px;
		    line-height: 16px;
		    padding: 15px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    text-decoration: none;
		   	
		   	@media (min-width: $break-width) {
		   		display:none;
		   	}

		}

	}

	nav#main-mobile {
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    overflow: hidden;
	    text-align: center;
	    -webkit-transition-duration: 800ms;
	    transition-duration: 800ms;
	    height: 0;

	    a {
	    	color: inherit;
		    display: block;
		    font-size: 18px;
		    letter-spacing: 1px;
		    line-height: 1;
		    opacity: 0;
		    -webkit-transition-duration: 400ms;
		    transition-duration: 400ms;
		    padding: 1em;
		    text-decoration: none;
		    -webkit-backface-visibility: hidden;

	    }

	    .section:first-child {
		    margin-top: 54px;
		    margin-bottom: 3em;
		}

	    &.active {
	    	-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		    transform: translateX(0);
		    height: 579px;

		    a {
		    	opacity: 1;
			    -webkit-transition-duration: 400ms;
			    transition-duration: 400ms;
			    -webkit-transition-delay: 400ms;
			    transition-delay: 400ms;


			    &:hover {
					opacity:0.7;
				}
		    }
	    }

	    @media (min-width: $break-width) {
		    display: none;
		    position: static;
		}
	}

	footer {
		font-size: 13px;
		margin: -54px auto 0;
		max-width: 1008px;
		overflow: hidden;
		position: relative;
		text-align: center;
		display: block;
		-webkit-transition-duration: 800ms;
		transition-duration: 800ms;
		display:none;

		@media (min-width: $break-width) {
		    display: block;
		}

		.inner {
			margin: auto;
			max-width: 1008px;

			#social {
				-webkit-transition-property: opacity;
				transition-property: opacity;
				-moz-transition: opacity 800ms ease 0s;
				-o-transition: opacity 800ms ease 0s;
				-webkit-transition: opacity 800ms ease 0s;
				-ms-transition: opacity 800ms ease 0s;
				transition: opacity 800ms ease 0s;
				opacity:0.4;
				-webkit-backface-visibility: hidden;


				&:hover {
					opacity:0.7;
				}

				a {
					color: #333333;
					display: inline-block;
					font-size: 18px;
					text-decoration: none;
					-webkit-transition-property: opacity;
					transition-property: opacity;
					-moz-transition: opacity 800ms ease 0s;
					-o-transition: opacity 800ms ease 0s;
					-webkit-transition: opacity 800ms ease 0s;
					-ms-transition: opacity 800ms ease 0s;
					transition: opacity 800ms ease 0s;
					padding: 1em;

					&:hover {
						opacity:1;
						color:blue;
					}
				}
			}

		
		}
	}


	section#body_content {
			background-color: white;
		    margin: auto;
		    max-width: 1024px;
		    min-height: 100%;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    position: relative;
		    padding: 223px 0px 50px;
		    -webkit-transition-duration: 800ms;
		    transition-duration: 800ms;
		    -webkit-transition-property: opacity;
		    transition-property: opacity;
		    display:block;
		    opacity:0;
			
			&.show {
				opacity:1;
			}

			.wrapper {
				max-width:80%;
				margin:auto;

				.email_container {
					width:100%;
					height:100%;
					text-align: center;

					.email {
						text-decoration: none;
						font-weight:100;

						&:hover {
							border-bottom: 2px solid blue;
							color:black;
						}
					}
				}
			}
	}




	a {
		text-decoration: none;
		color:black;
		cursor: pointer;
	}



	#logo {
		display: none;
		font-weight:100;

		 @media (min-width: $break-width) {
		    display: block;
		}

		#logo_link {
			text-decoration: none;
			// background: image-url("moving_underline.gif")repeat-x;
			// background-position: 0 100%;
			background: image-url("underline-jagged.svg") repeat-x;
			background-position: -45px 100%;
			padding-bottom: 1px;
			-webkit-animation: zoom-reset 1.0s ease-out 1;
			&:hover {
				-webkit-animation:zooming .85s linear infinite;
			}
		}
	}

	#logo_link_small {
	    display: block;
	    line-height: 24px;
	    font-size:18px;
	    position: relative;
	    padding-top:15px;
	    margin-left:20px;
	    height:24px;
	    width:50px;
	    font-weight:100;
	    text-decoration: none;
	    background: image-url("underline-jagged.svg") repeat-x;
		background-position: -45px 100%;
		padding-bottom: 1px;
		-webkit-animation: zoom-reset 1.0s ease-out 1;
		&:hover {
			-webkit-animation:zooming .85s linear infinite;
		}

	    @media (min-width: $break-width) {
		    display: none;
		}
	}

}

