%header
	.inner
		%h1#logo
			%a#logo_link{:href => "/welcome/index"} items 
			%br
		%nav#main
			%a{:href => "/welcome/you"} you
			%a{:href => "http://items-ny.tumblr.com/"} explore
			%a{:href => "/welcome/about"} about
		

