%header
	.inner
		%h1#logo
			%a#logo_link{:href => "/home"} items 
			%br
		%nav#main
			%a.nav_links#you_link{:href => "/you"} you
			%a.nav_links#explore_link{:href => "http://items-ny.tumblr.com/"} explore
			%a.nav_links#about_link{:href => "/about"} about
			%a.nav_links#contact_link{:href => "/contact"} contact
		%a#nav-toggle ≡
		%a#logo_link_small{:href => "/home"} items

%nav#main-mobile
	.section
		%a.nav_links#you_link{:href => "/you"} you
		%a.nav_links#explore_link{:href => "http://items-ny.tumblr.com/"} explore
		%a.nav_links#about_link{:href => "/about"} about
		%a.nav_links#contact_link{:href => "/contact"} contact

