%header
	.inner
		%h1#logo
			%a#logo_link{:href => "/welcome/index"} items 
			%br
		%nav#main
			%a.nav_links#you_link{:href => "/welcome/you"} you
			%a.nav_links#explore_link{:href => "http://items-ny.tumblr.com/"} explore
			%a.nav_links#about_link{:href => "/welcome/about"} about
			%a.nav_links#contact_link{:href => "/welcome/contact"} contact
		

